
.cartIconAnimation{
  animation-name: cartAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cartAnimation {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input{
  padding: 6px 12px;
  background: #E57373;
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 35px;
  width: 60%;
  appearance: none;
  transition: border 0.15s ease 0s;
  :focus{
      outline: none;
      box-shadow: none;
      border-color: rgb(100, 153, 255);
  }
}


