body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Space Mono', monospace;
  font-family: 'Ubuntu', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
