@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

input{
    appearance: none;
    color: rgb(241, 242, 255);
    padding: 12px;
    background-color: rgb(22, 29, 41);
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

label{
    color: rgb(241, 242, 255);
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0.25rem 0;
}

sup{
    color:#f70d1a;
}

